* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-upload {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 70px;
  width: 50rem;
  min-height: 400px;
  flex: 2.5;
  padding: 20px;
  padding-right: 0px;
}
.uploadprofile {
  border: solid thin #aaa;
  padding: 10px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 0 auto;
}
.uploadprofiles{
  border: solid thin #aaa;
  padding: 10px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 0 auto;
}
#post_button {
  width: 80px;
  height: auto;
  float: right;
  border: none;
  padding: 4px;
  font-size: 14px;
  box-shadow: 0px 1px 2px 1px;
}

#save_button {
  width: 150px;
  height: auto;
  float: right;
  border: none;
  padding: 4px;
  font-size: 14px;
  box-shadow: 0px 1px 2px 1px;
}

.bi {
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.upload-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  transition: background-color 0.3s;
}
.upload-profile:hover {
  background-color: #0e008d;
}
#profile_img {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 400px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 2px 2px;
  align-items: center;
}
