@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}
.backgrounds {
  background-color: var(--primary-color);
}
ul li {
  padding-left: 3rem;
}
.icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.shadows {
  box-shadow: 0px 2px 5px rgb(100, 96, 96);
}

:root {
  --primary-color: #fff; /* Background สว่าง */
  --secondary-color: #000106; /* Text สีเข้ม */
}

.dark-theme {
  --primary-color: #000106; /* Background สีเข้ม */
  --secondary-color: #fff; /* Text สว่าง */
  --three-color: #352f44;
  --four-color: #817f7f;
}

.light-theme {
  --primary-color: #eee; /* Background สว่าง */
  --secondary-color: #000106; /* Text สีเข้ม */
  --three-color: #fffffff8;
  --four-color: #817f7f;
}

.navbars li a {
  width: 5rem;
  text-align: center;
  font-size: 1.25rem;
  color: white;
  height: 3.4rem;
}
.navbar-toggler {
  margin-left: 2rem;
  align-items: center;
  width: 5rem;
  text-align: center;
  font-size: 1.25rem;
  color: white;
  height: 3.4rem;
}
.navbar-toggler:hover {
  background-color: #eee;
  border-radius: 5px;
  color: rgb(87, 157, 214);
}
.navbar-toggler.active {
  color: rgb(87, 157, 214);
  position: relative;
}
.navbar-toggler.active::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(83, 142, 230);
}
.fa-bars {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 7px;
  text-align: center;
}

.navbars li a:hover {
  /* color: rgb(83, 142, 230); */
  background-color: #eee;
  border-radius: 5px;

  /* box-shadow: 0px 3px 5px rgb(83, 142, 230); */
}
.navbars li a.active {
  color: rgb(87, 157, 214);
  position: relative;
  /* box-shadow: 0px 3px 5px rgb(83, 142, 230); */
}
.navbars li a.active::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(83, 142, 230);
  /* box-shadow: 0px 3px 5px rgb(83, 142, 230); */
}

/* .navbars li a:focus{
  color: rgb(83, 142, 230);
  box-shadow: 0px 3px 5px rgb(83, 142, 230);
} */
.logo {
  font-family: "Kavoon", cursive;
  font-size: 1.5rem;
  color: #0b7542;
  align-items: center;
  text-align: center;
  text-decoration: solid;
  font-weight: bold;
  margin-right: auto;
}
.post-content img {
  max-width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}
.container .left-panel {
  position: sticky;
  top: 70px;
  width: 250px;
  height: calc(100vh - 70px);
}

.left-panel {
  color: var(--secondary-color);
  position: fixed;
  top: 70px;
  width: 250px;
  height: calc(100vh - 70px);
  background-color: var(--three-color);
  padding: 20px;
  box-shadow: 0px 2px 5px rgb(100, 96, 96);
  border-radius: 10px;
  margin-top: 4.375rem;
}


.dp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.dp > img {
  width: 100%;
  cursor: pointer;
}

.left-panel ul {
  padding: 10px 0px;
  list-style: none;
}

.left-panel ul li {
  display: flex;
  align-items: center;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.left-panel ul li:hover {
  /* background: #ddd; */
  background-color: var(--four-color);
}

.left-panel ul li > p {
  margin-left: 10px;
}

.left-panel ul li > i {
  font-size: 20px;
  color: slateblue;
}

.left-panel ul li i.fa-calendar-week {
  color: tomato;
}

.left-panel ul li i.fa-briefcase {
  color: green;
}

.left-panel ul li i.fa-star {
  color: yellowgreen;
}

.left-panel ul li i.fa-hands-helping {
  color: indianred;
}

.left-panel .footer-links {
  padding: 5px 1rem;
}

.left-panel .footer-links a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
}
#navbarSupportedContent {
  flex-grow: 0;
}
.bi {
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button
{
  font-size: 16px;
}
button .icon
{
  width: 22px;
  height: 22px;  
}
.btn.location
{
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.btn.location:hover
{
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

button .icons
{
  gap: 4px;
}

.fa-image::before
{
  width: 30px;
  height: 30px;
}