:root {
  --primary-color: #fff;  /* Background สว่าง */
  --secondary-color: #000106;  /* Text สีเข้ม */
}

.dark-theme {
  --primary-color: #000106;  /* Background สีเข้ม */
  --secondary-color: #fff;  /* Text สว่าง */
  --three-color: #352F44;
}

.light-theme {
  --primary-color: #ffffff;  /* Background สว่าง */
  --secondary-color: #000106;  /* Text สีเข้ม */
  --three-color: #fffffff8;
}
.background-profile
{
  width: 50rem;
  margin: auto;
  min-height: 400px;
  /* background-color: var(--three-color); */
}
.bg-top{
  color:var(--secondary-color);
  background-color: var(--primary-color);
}
#profile_pic{
  width: 10rem;
  margin-top: -10rem;
  border-radius: 50%;
  border: solid 2px white;

}
#menu_buttons{
  width: 100px;
  display: inline-block;
  margin: 2px;
}
.Name-profile{
  font-size: 1.25rem;
  font-weight: 700;
}