
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}
html{
  font-size:cal(60%+0.8vmin) ;
}
html,
body {
  height: 100%;
  font-size:cal(60%+0.8vmin) ;
}
.container{
  max-width: 123.75rem;
  margin: 0 auto;
}

.form-sign-in {
  max-width: 330px;
  padding: 1rem;
}
.h3{
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.form-sign-in .form-floating:focus-within {
  z-index: 2;
}
.form-control{
  background-color:#C2E8E5 ;
}
.btn-s{
  background-color:#C2E8E5 ;
  font-family: 'Inter', sans-serif;


}
.btn-s:hover{
  background-color: aquamarine;
}
@media screen and (max-width : 1150px){
  .form-sign-in {
    max-width: 20.625rem;
    padding: 1rem;
  
  }
  .h3
  {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 2rem;
  }
}
  
