@font-face
{
  font-family: inter;
  src: url(./font/Inter-Bold.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}
html{
  font-size:cal(60%+0.8vmin) ;
}
html,
body {
  height: 100%;
  font-size:cal(60%+0.8vmin) ;
}
.container{
  max-width: 123.75rem;
  margin: 0 auto;
}

.form-sign-in {
  max-width: 330px;
  padding: 1rem;
}
.h3{
  font-family: inter;
  text-align: center;
  font-size: 2rem;
}

.form-sign-in .form-floating:focus-within {
  z-index: 2;
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.form-control{
  background-color:#C2E8E5 ;
}
.btn-s{
  background-color:#C2E8E5 ;

}
@media screen and (max-width : 1150px){
  .form-sign-in {
    max-width: 20.625rem;
    padding: 1rem;
  
  }
  .h3
  {
    font-family: inter;
    text-align: center;
    font-size: 2rem;
  }
}
  
